## Preprocessing

In [14]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [15]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [16]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [17]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 300  
application_types_to_replace = application_type_value_counts[application_type_value_counts < cutoff].index##HELP

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_type_value_counts = application_df['CLASSIFICATION'].value_counts()
print(application_type_value_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count_values = application_df['CLASSIFICATION'].value_counts()
classification_kept = classification_count_values[classification_count_values > 1].index.tolist()
classification_count_values.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [21]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_count_values[classification_count_values<= 1000].index.tolist()##HELP

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [22]:
# Convert categorical data to numeric with `pd.get_dummies`
application_encoded_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE'], drop_first=True)
application_encoded_df.head()

,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8
0,Independent,C1000,ProductDev,Association,1,0,N,5000,1,1,0,0,0,0,0,0,0
1,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,0,0,1,0,0,0,0,0
2,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,0,0,0,0,1,0,0,0
3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,0,0,1,0,0,0,0,0
4,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,0,0,1,0,0,0,0,0

In [23]:
#Convert categorical data to numeric with pd.get_dummies
numeric_application_df = pd.get_dummies(application_df,dtype=float)
numeric_application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [24]:
# Split our preprocessed data into our features and target arrays
X = numeric_application_df.drop('IS_SUCCESSFUL', axis=1).values
y = numeric_application_df['IS_SUCCESSFUL'].values  

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [25]:
print(X_train)

[[1.e+00 5.e+03 0.e+00 ... 0.e+00 1.e+00 0.e+00]
 [1.e+00 5.e+03 0.e+00 ... 0.e+00 1.e+00 0.e+00]
 [1.e+00 5.e+03 0.e+00 ... 0.e+00 1.e+00 0.e+00]
 ...
 [1.e+00 5.e+03 0.e+00 ... 0.e+00 1.e+00 0.e+00]
 [1.e+00 5.e+03 0.e+00 ... 0.e+00 1.e+00 0.e+00]
 [1.e+00 5.e+03 0.e+00 ... 0.e+00 1.e+00 0.e+00]]

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler() 

# Fit the StandardScaler
X_scaler = scaler.fit(X_train) 

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │         3,520 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 338us/step - accuracy: 0.7165 - loss: 0.5823
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.7326 - loss: 0.5559
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7337 - loss: 0.5541
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.7333 - loss: 0.5484
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.7322 - loss: 0.5491
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7295 - loss: 0.5508
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7294 - loss: 0.5487
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7345 - loss: 0.5470
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 297us/step - accuracy: 0.7328 - loss: 0.5474
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7365 - loss: 0.5426
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 299us/step - accuracy: 0.7358 - loss: 0.5442
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7326 - loss: 0.5474
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7321 - loss: 0.5456
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 313us/step - accuracy: 0.7331 - loss: 0.5457
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7322 - loss: 0.5401
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 316us/step - accuracy: 0.7326 - loss: 0.5463
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7297 - loss: 0.5500
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7369 - loss: 0.5417
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7370 - loss: 0.5425
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7339 - loss: 0.5427
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7377 - loss: 0.5403
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7330 - loss: 0.5445
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7321 - loss: 0.5427
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7362 - loss: 0.5449
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7392 - loss: 0.5390
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - accuracy: 0.7318 - loss: 0.5419
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7333 - loss: 0.5397
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7404 - loss: 0.5390
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7325 - loss: 0.5436
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7436 - loss: 0.5333
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7355 - loss: 0.5406
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7367 - loss: 0.5415
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7390 - loss: 0.5382
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7369 - loss: 0.5422
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7320 - loss: 0.5375
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7415 - loss: 0.5349
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7366 - loss: 0.5426
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7395 - loss: 0.5371
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - accuracy: 0.7426 - loss: 0.5337
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.7362 - loss: 0.5390
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7370 - loss: 0.5410
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7390 - loss: 0.5391
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7373 - loss: 0.5405
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7433 - loss: 0.5353
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7389 - loss: 0.5380
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7383 - loss: 0.5369
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7444 - loss: 0.5307
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7369 - loss: 0.5393
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7392 - loss: 0.5351
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7419 - loss: 0.5346
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 332us/step - accuracy: 0.7367 - loss: 0.5370
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7342 - loss: 0.5383
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7402 - loss: 0.5358
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7395 - loss: 0.5361
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7368 - loss: 0.5404
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7414 - loss: 0.5350
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.7398 - loss: 0.5345
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 332us/step - accuracy: 0.7381 - loss: 0.5356
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - accuracy: 0.7369 - loss: 0.5377
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - accuracy: 0.7402 - loss: 0.5369
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - accuracy: 0.7406 - loss: 0.5375
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - accuracy: 0.7339 - loss: 0.5421
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 353us/step - accuracy: 0.7392 - loss: 0.5369
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 355us/step - accuracy: 0.7351 - loss: 0.5368
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.7362 - loss: 0.5373
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 337us/step - accuracy: 0.7411 - loss: 0.5355
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.7424 - loss: 0.5338
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 421us/step - accuracy: 0.7439 - loss: 0.5304
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 352us/step - accuracy: 0.7417 - loss: 0.5336
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 368us/step - accuracy: 0.7374 - loss: 0.5380
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 349us/step - accuracy: 0.7391 - loss: 0.5363
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 352us/step - accuracy: 0.7368 - loss: 0.5354
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 299us/step - accuracy: 0.7450 - loss: 0.5287
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 341us/step - accuracy: 0.7385 - loss: 0.5363
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7321 - loss: 0.5408
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.7380 - loss: 0.5362
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7409 - loss: 0.5321
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 299us/step - accuracy: 0.7398 - loss: 0.5346
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7361 - loss: 0.5383
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7361 - loss: 0.5385
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 295us/step - accuracy: 0.7374 - loss: 0.5359
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7390 - loss: 0.5319
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7391 - loss: 0.5322
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7380 - loss: 0.5352
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.7377 - loss: 0.5394
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 313us/step - accuracy: 0.7381 - loss: 0.5361
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7383 - loss: 0.5325
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7386 - loss: 0.5349
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7402 - loss: 0.5321
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.7386 - loss: 0.5336
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 300us/step - accuracy: 0.7394 - loss: 0.5341
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7445 - loss: 0.5282
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7394 - loss: 0.5327
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7438 - loss: 0.5305
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 391us/step - accuracy: 0.7388 - loss: 0.5358
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 389us/step - accuracy: 0.7379 - loss: 0.5338
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.7406 - loss: 0.5331
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 352us/step - accuracy: 0.7436 - loss: 0.5323
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.7423 - loss: 0.5325
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7420 - loss: 0.5323

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 386us/step - accuracy: 0.7264 - loss: 0.5609
Loss: 0.5609282851219177, Accuracy: 0.7264139652252197

In [31]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.